.jumbotron {
  padding-top: 7rem;
  background-color: #90dfec;
}

#about {
  background-color: #f3f4f5;
}

#contact {
  background-color: #f3f4f5;
}

#projects {
  background-color: #90dfec;
  /* background: url("img/cool_bg.png"); */
}

footer {
  background-color: #0ec2e2;
}

section {
  padding-top: 4rem;
}
